<h1>{{body}}</h1>

<section class="hero is-info is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-logo" href="../">
                        <img src="../public/assets/images/SquareLogo.png" alt="Logo">
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    UNC CHARLOTTE
                </h1>
                <h1 class="title2">Web Development Bootcamp</h1>
                <h1 class="title3">Student Forum</h1>
                <br>
                <br>
                <h2 class="subtitle">
                    Welcome! This is a public forum for bootcamp students where everyone can collaborate for success!
                    Please click Continue to head to the forum.
                </h2>
                <p class="control">
                    <a class="button is-info">
                        Continue
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>