

<section class="hero is-info is-fullheight">
    <div class="hero-head">

    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">

                <div class="box">
                    <br>
                    <figure class="avatar">
                        <img src="../assets/images/FullSquareLogo.png">
                    </figure>
                    <br>
                    <br>
                    <h1 class="title">
                        UNC CHARLOTTE
                    </h1>
                    <h2 class="subtitle">
                       <img src="../assets/images/contentLanding.png" class="contentImage">
                    </h2>
                    <p class="control">
                        <a class="button is-info" href="/forum">
                            Continue
                        </a>
                    </p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>