/* Forum Template CSS */

html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #F2F6FA;
  background-color: #becfc1;
}

.modal-background {
  background-color: rgba(10,10,10,.86);
  margin: 140px;
  border: 1px solid;
  border-radius: 10px;
}

.modal-box {
  background-color: transparent;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  display: block;
  padding: 0.5rem;
}

.control {
  text-align: center;
  position: relative;
  margin: 20px;
  border-bottom: rgba(10,10,10,.86) !important;
}

.button.is-primary {
  background-color: #177025;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  background-color: white;
  color: #177025;
}

a {
  color: #12ad2a;
}

.media-content {
  border-bottom: 3px solid white;
  border-radius: 2px;
}

.border-bottom {
  border-bottom: 1px solid black;
}

#searchQuery {
  border: 1px solid #177025;
  padding: 5px;
  border-radius: 2px;
  color: #177025;
}

#searchQuery:hover {
  border: 1px solid #177025;
}

#searchQuery:focus {
  border: 1px solid #177025;
}

.input, .textarea {
  border: 1.5px solid #177025;
}

a.navbar-item img {
  width: 200px;
  max-height: 6.0rem;
}

.topNav {
  border-top: 5px solid #d4af37;
}

.topNav .container {
  border-bottom: 1px solid #E6EAEE;
}

.container .columns {
  margin: 3rem 0;
}

.navbar-menu .navbar-item {
  padding: 0 2rem;
}

aside.menu {
  padding-top: 3rem;
}

aside.menu .menu-list {
  line-height: 1.5;
}
aside.menu .menu-label {
  padding-left: 10px;
  font-weight: 700;
}

.button.is-info.is-outlined {
  background-color: white;
  border-color: #177025;
  color: #177025;
}


.button.is-info.is-outlined:focus {
  background-color: #d4af37;
}


.button.is-info.is-outlined:hover {
  background-color: #d4af37;
}

.input:focus {
  border: 3px solid #d4af37;
}

.button.is-primary.is-alt {
  background: #177025;
  background: -webkit-linear-gradient(to bottom, #177025, #12ad2a);
  background: linear-gradient(to bottom, #177025, #12ad2a);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  height: 3rem;
  line-height: 2.8;
}

.media-left img {
  border-radius: 50%;
}

.media-content p {
  font-size: 16px;
  line-height: 2.3;
  font-weight: 400;
  color: black;
}

large {
  font-weight: 700;
  font-size: 20px;
}

.fas.fa-reply {
  border: 1px solid #177025;

}

.container.is-fluid {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 40px 40px 40px 40px;
  width: 90%;
}

article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}

article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.menu-list li{
  padding: 5px;
}

#discussTab:hover {
  border: 1.5px solid #177025;

}

#createTab:hover {
  border: 1.5px solid #177025;
}

.footer {
  background-color: #becfc1;
  padding-top: .01%;
  padding-bottom: .01%;
}

.tag:not(body).is-link {
background-color: #177025;
color: #fff;
}