/* Landing Template CSS */

html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  .control {
      text-align: center;
      position: relative;
  }

  .navbar-logo {
    background-image: url("../images/SmallLogo.png");
    width: 150px;
    height: 75px;
  }

  .navbar-brand {
    background-color: white;
  }

  .hero.is-info {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
    background-image: url("../images/background2.png");
    color: #fff;
    opacity: 0.3;
    background-size: cover;
  }

  .title {
    font-size: 60px;
    margin-bottom: 0px;
  }
  
  .button.is-info {
    background-color: #209cee;
    border-color: transparent;
    color: #fff;
    align-content: center;
  }

  .hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
  }


  






/* html,body {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    background-image: url("../images/background2.png");
  }

  .hero-body {
      background-image: url("../images/background2.png") center center fixed;
  }

  /* .button.is-info {
    background-color: #209cee;
    border-color: transparent;
    color: #fff;
  }

  .hero.is-info {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5), url("../images/background2.png")
      ),
     -webkit-background-size: cover,
     -moz-background-size: cover,
     -o-background-size: cover,
     background-size: cover,
     opacity: 0.3,
  /* } */

  /* .has-text-centered {
      margin-bottom: 250px;
  }

  .title {
    font-size: 60px;
    margin-bottom: 0px;
  }

  .title2 {
    font-size: 40px;
    font-family: 'Courgette', cursive;
  } */ 

  /* .title3 {
    font-size: 40px;
  }

  .control {
    font-size: 1rem;
    position: relative;
    text-align: center important!;
  }

  .hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
  } */ 