/* Landing Template CSS */

html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  .avatar {
      width: 375px;
      height: 260px;
      align-content: center;
      margin: 0 auto;
  }

  img {
    height: auto;
    max-width: 100%;
    width: 390px;
    height: 300px;
  }

  .control {
      text-align: center;
      position: relative;
  }

  .navbar-brand {
    background-color: white;
  }

  .hero.is-info {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
    background-image: url("../images/background3.png");
    color: black;
    opacity: 0.8;
    background-size: cover;
  }

  .hero.is-info .subtitle {
    color: #177025;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
  .hero.is-info .title {
    color: #177025;
    font-family: 'Bebas Neue', cursive;
  }

  h2.subtitle {
    color: #d4af37;
  }

  .title {
    font-size: 88px;
    margin-bottom: 0px;
    color: #177025;
    text-shadow: 4px 2px #d4af37;
  }

  .button.is-info {
    background-color: #177025;
    border-color: transparent;
    color: #fff;
    align-content: center;
  }

  .button.is-info:hover {
      background-color: #d4af37;
  }

  .hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
  }


  






/* html,body {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    background-image: url("../images/background2.png");
  }

  .hero-body {
      background-image: url("../images/background2.png") center center fixed;
  }

  /* .button.is-info {
    background-color: #209cee;
    border-color: transparent;
    color: #fff;
  }

  .hero.is-info {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5), url("../images/background2.png")
      ),
     -webkit-background-size: cover,
     -moz-background-size: cover,
     -o-background-size: cover,
     background-size: cover,
     opacity: 0.3,
  /* } */

  /* .has-text-centered {
      margin-bottom: 250px;
  }

  .title {
    font-size: 60px;
    margin-bottom: 0px;
  }

  .title2 {
    font-size: 40px;
    font-family: 'Courgette', cursive;
  } */ 

  /* .title3 {
    font-size: 40px;
  }

  .control {
    font-size: 1rem;
    position: relative;
    text-align: center important!;
  }

  .hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
  } */ 